@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;

  /* Corporative Palette */
  --color-primary-50: #fcfafa;
  --color-primary-100: #f8eeef;
  --color-primary-200: #eec9cc;
  --color-primary-300: #e19ea3;
  --color-primary-400: #d16971;
  --color-primary-500: #b21c1c;
  /* Main Industrial Red */
  --color-primary-600: #9a1818;
  --color-primary-700: #821414;
  --color-primary-800: #6a1111;
  --color-primary-900: #520d0d;

  --color-secondary-50: #f9fafb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-200: #e5e7eb;
  --color-secondary-300: #d1d5db;
  --color-secondary-400: #9ca3af;
  --color-secondary-500: #6b7280;
  --color-secondary-600: #4b5563;
  --color-secondary-700: #374151;
  --color-secondary-800: #1f2937;
  --color-secondary-900: #111827;
  --color-secondary-950: #030712;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-secondary-900 bg-white;
  }

  /* Custom selections */
  ::selection {
    @apply bg-primary-500 text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(178, 28, 28, 0.4);
  }
}